.about-right {
	width: 850px;
}

.about {
	margin-bottom: 50px;
}

.about-right ul li {
	padding-top: 20px;
}

.about-right ul li p {
	text-indent: 2em;
}

.about-right ul li img {
	float: right;
	width: 800px !important;
	height: 500px !important;
}