
.job-change {
	padding: 30px 0 20px 0;
}

.job-change a {
	font-size: 16px;
}

.job-change p {
	float: right;
}

.btn {
	padding: 1px 5px;
}

nav {
	text-align: center;
	padding-bottom: 55px;
}

.fott {
	position: fixed;
	left: 0;
	bottom: 0;
}
/*发布*/

.fabu {
	height: 50px;
	line-height: 30px;
	text-align: right;
}

.fabu a {
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin-right: 10px;
}

.xianfu {
	position: fixed;
	right: 10px;
	top: 200px;
	text-align: center;
}

.xianfu li {
	width: 60px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background: #2d2e2e;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 1px;
}

.xianfu li a {
	color: #fff;
	position: relative;
	text-decoration: none;
	display: block;
}

.xianfu li a i {
	position: absolute;
	right: -9px;
	top: -13px;
	background: orange;
	border-radius: 50%;
	display: block;
	height: 15px;
	width: 15px;
	line-height: 15px;
}

.xianfu li:hover {
	background: #ff552e;
}


/*模态框居中*/

#modede {
	top: 40%;
	text-align: center;
}

/*简历投递*/
button.btn.btn-primary {
    width: 80px;
}