#fullTime {
	width: 1200px;
	margin: 0 auto;
	background: #e1e1e1;
	padding-bottom: 50px;
	margin-top: -16px;
}
form.layui-form {
	margin-top: 20px !important;
	width: 900px;
	margin: 0 auto;
}

.layui-form input {
	border-radius: 5px;
}

.layui-form textarea {
	border-radius: 5px;
}

button.layui-inline.layui-btn {
	height: 30px;
	line-height: 30px;
}
.layui-form-item .layui-form-checkbox {
    margin-top: 4px;
    border-radius: 5px;
}





/*自定义样式*/
.mar-top-four{
	margin-top: 4px;
}
